doctype html

html
  head
    meta(charset='UTF-8')
    title new tab
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css")
    style.

  body
    #root
    if env !== 'prod'
      script(src='chrome-extension://lmhkpmbekcpmknklioeibfkpmmfibljd/js/redux-devtools-extension.js')
    script(src='/js/tab.bundle.js')
