.container {
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  align-items: center;
  padding: 10px 0;
}

.header-icon {
  position: relative;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 24px;
}

.setting-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.bottom-container {
  display: flex;
  align-self: center;
}
